[submodule "sbol/test/SBOLTestSuite"]
	path = sbol/test/SBOLTestSuite
	url = https://github.com/SynBioDex/SBOLTestSuite
	branch = master
[submodule "sbol3/test/SBOLTestSuite"]
	path = sbol3/test/SBOLTestSuite
	url = https://github.com/SynBioDex/SBOLTestSuite.git
